@charset "UTF-8";
html {
  font-size: 62.5%; }

/**************************************/
body {
  background: #f9f8f6;
  font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1.2rem; }
  @media (min-width: 550px) {
    body {
      padding: 40px; } }
  @media (max-width: 550px) {
    body {
      padding: 20px; } }

@media (max-width: 550px) {
  h2 {
    text-align: center; } }
@media (min-width: 550px) {
  header #header_in .menu__sp {
    display: none; }
  header #header_in li {
    list-style: none;
    display: inline; } }
@media (max-width: 550px) {
  header #header_in .menu__sp {
    display: inline-block; }
  header #header_in #menu {
    display: none; }
  header #header_in .logo {
    margin: 0 auto; }
  header #header_in .navi .menu_sp {
    cursor: pointer;
    margin: 0 0 0 20px; }
  header #header_in .navi .sp_menu_toggle {
    display: none; }
    header #header_in .navi .sp_menu_toggle li {
      list-style: none;
      display: block;
      padding: 15px;
      margin-bottom: 0;
      background-color: #ffffff;
      border-bottom: 1px solid #f9f8f6; }
      header #header_in .navi .sp_menu_toggle li a {
        text-decoration: none;
        color: #000000; } }
header #header_in .navi {
  margin: 0;
  float: right; }
  header #header_in .navi a {
    margin: 20px 0 0 15px; }

@media (min-width: 550px) {
  .new_items_sp {
    display: none; }

  .new_items #title_newitem {
    margin: 20px 0 20px 0; }

  .items-row {
    display: table;
    margin: 0; }
    .items-row img {
      width: auto; }
    .items-row .item {
      display: table-cell;
      background-color: #ffffff;
      width: 33.333333333333%;
      margin: 0;
      padding: 10px;
      border: solid 1px #f9f8f6; } }
@media (max-width: 550px) {
  .new_items {
    display: none; }

  #title_newitem {
    margin: 0;
    margin: 0 auto; }

  .items-row {
    display: table;
    margin: 0; }
    .items-row img {
      width: auto; }
    .items-row .item {
      display: table-cell;
      background-color: #ffffff;
      width: 50%;
      margin: 0;
      padding: 10px;
      border: solid 1px #f9f8f6; } }
@media (min-width: 550px) {
  .popular_items_sp {
    display: none; }

  .popular_items #title_popularitem {
    margin: 30px 0 20px 0; } }
@media (max-width: 550px) {
  .popular_items {
    display: none; }

  .popular_items_sp #title_popularitem {
    margin: 30px 0 20px 0; } }
@media (min-width: 550px) {
  .pankuzu {
    background-color: #e2ddd4;
    padding: 10px; }

  .pankuzu_sp {
    display: none; } }
@media (max-width: 550px) {
  .pankuzu_sp {
    background-color: #e2ddd4;
    padding: 10px; }

  .pankuzu {
    display: none; } }
.infomation {
  background-color: #ffffff;
  padding: 40px 50px; }
  .infomation h1 {
    font-size: 15px;
    font-weight: bold; }
  .infomation #display_img img {
    width: 410px; }
  .infomation li {
    list-style: none;
    display: inline-block; }
  .infomation li img {
    width: 80px;
    cursor: pointer; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

#display_img {
  float: left; }

#list_img {
  margin: 0 0 0 10px; }

td {
  width: 160px;
  background-color: #f9f8f6;
  border: 1px solid #e2ddd4;
  font-weight: bold;
  color: #887f69;
  text-align: center; }

.td1 {
  background-color: #FFFFFF; }

@media (min-width: 550px) {
  .price_quantity {
    width: 50%;
    float: left; }
    .price_quantity span {
      text-align: right;
      color: #pink; }

  .add {
    margin: 50px 0; } }
@media (max-width: 550px) {
  hr {
    width: 100%; }

  p {
    text-align: right;
    color: #pink; } }
.product_info h3 {
  color: #887f69;
  margin: 20px 0 10px 0;
  font-size: 16px;
  font-weight: bold; }
.product_info .td1 {
  width: 70%; }

@media (max-width: 550px) {
  .new_product {
    display: none; }

  .shopping_guide {
    display: none; } }
@media (min-width: 550px) {
  .new_product_sp {
    display: none; }

  .shopping_guide_sp {
    display: none; } }
#title_guide {
  margin: 30px 0 20px 0; }

.guide-row {
  display: table; }
  .guide-row .guide {
    display: table-cell;
    padding: 20px;
    margin: 0;
    text-align: left;
    width: 50%;
    height: 264px;
    background-color: #ffffff;
    border: solid 1px #f9f8f6; }
    .guide-row .guide h3 {
      font-size: 15px;
      font-weight: bold;
      color: #887f69; }
    .guide-row .guide span {
      color: #887f69;
      font-weight: bold; }

@media (min-width: 550px) {
  .list_sp {
    display: none; } }
@media (max-width: 550px) {
  .list {
    display: none; } }
.bn1 {
  margin: 10px 0;
  padding: 10px 20px 10px 20px;
  background-color: #887f69;
  width: 120px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  float: left; }
  @media (max-width: 550px) {
    .bn1 {
      width: 85px; } }

.bn2 {
  margin: 10px 0;
  padding: 10px 20px 10px 20px;
  background-color: #887f69;
  width: 120px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  float: right; }
  @media (max-width: 550px) {
    .bn2 {
      width: 85px; } }

#title_recent {
  margin: 20px 0 20px 0; }
  @media (max-width: 550px) {
    #title_recent {
      display: none; } }

#title_recent_sp {
  margin: 20px 0 20px 0; }
  @media (min-width: 550px) {
    #title_recent_sp {
      display: none; } }

#sidemenu .item_search {
  padding: 10px;
  background-color: #ffffff; }
  #sidemenu .item_search input {
    background-color: #f9f8f6;
    color: #b0b0b0; }
  @media (max-width: 550px) {
    #sidemenu .item_search {
      float: center;
      margin: 30px 0; }
      #sidemenu .item_search .item_search_title {
        display: none; } }
#sidemenu .menu {
  background-color: #ffffff;
  cursor: pointer;
  margin: 10px 0; }
#sidemenu .title {
  background-color: #887f69;
  padding: 15px; }
  #sidemenu .title .next {
    float: right; }
#sidemenu .sp_menu_toggle li {
  list-style: none;
  display: block;
  padding: 15px;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #f9f8f6; }
  #sidemenu .sp_menu_toggle li a {
    text-decoration: none;
    color: #000000; }
#sidemenu .about {
  padding: 10px;
  background-color: #ffffff; }
  #sidemenu .about .u-max-full-width {
    margin: auto; }

footer {
  background-color: #f9f8f6; }
  @media (min-width: 550px) {
    footer .pagetop {
      text-align: right; } }
  @media (max-width: 550px) {
    footer h4 {
      text-align: center; } }
  footer .footer-menu {
    text-align: center; }
    footer .footer-menu a {
      text-decoration: none;
      color: #000000; }
    footer .footer-menu p {
      margin: 10px 0;
      color: #b0b0b0;
      font-size: 1.0rem; }

/*# sourceMappingURL=style.css.map */
